<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Estacionamento do Cosme & Damião</title>
</head>
<body style="background:url(/static/bg.jpg) no-repeat;background-size:100%">

<div style="background:#000;color:white;width:100%;left:0;top:0;text-align:center;position:fixed;float:left"><h1>Estacionamento do Cosme & Damião</h1></div>

<a href="../cadAlug/" style="margin:0 auto;background:red;position:absolute;text-decoration:none;padding:5px;color:black">Alugar</a>

<div style="width:400px;margin:100px auto;text-align:center">
<form method="POST" style="margin:10px">
{% csrf_token %}
<input type="text" name="pesquisar">
<input type="submit" value="Pesquisar">
</form>
{% for post in post %}
	<div style="background:white;margin 5px 0"><a href="../eAlugar/{{post.id}}">	 {{post}} </a></div>
{% endfor %}
<div style="margin:10px"><a align="center" href="/">VOLTAR</a></div>
</div>
</body>
</html>
